<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("主页", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("热门书籍", "PopularBook", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @RenderBody()
    

    <footer>
        <div class="container">
            <div class="footer-sentence">九一式试制型小型图书馆应用</div>
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <h3>外部链接</h3>                  
                    <p><a href="">浙江财经大学图书馆</a></p>
                    <p><a href="">Wikipedia</a></p>
                    <p><a href="">托管中心</a></p>
                </div> 
                <div class="col-xs-12 col-lg-3">
                    <h3>关于我们</h3>
                    <p><a href="">联络地址</a></p>
                    <p><a href="">电子邮件</a></p>
                    <p><a href="">设计团队</a></p>
                </div> 
            </div>
            <hr />
        </div>       
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
