@model IEnumerable<SchoolLibrary.Models.Book>

@{
    ViewBag.Title = "PopularBook";
}

<h2>PopularBook</h2>

<div class="container">
    @{ int sign = 0;}
    @foreach (var item in Model)
    {
        sign = (sign + 1) % 2;
        @if (sign != 0)
        {
            <div class="row">
        }
                <div class="col-lg-6">

                </div>              

        @if (sign != 0)
        {
            </div>
         }
    }
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
